{% include "header.html" %}

    <section class="page-section bg-primary" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Thank you!</h2>
            <hr class="divider divider-light" />
            <p class="text-white-75 mb-4">I will reply your message as soon as possible.</p>
            <a class="btn btn-light btn-xl" href="https://clb20.github.io/portfolio">Go back</a>
          </div>
        </div>
      </div>
    </section>

{% include "footer.html" %}